name: CI/CD Pipeline

env:
    IMAGE_NAME: emogi-app
    CONTAINER_NAME: emogi-app

on:
    push:
        branches: ["main", "develop"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Get version
            id: version
            run: |
                BASE_VERSION=$(cat pyproject.toml | grep version | head -n 1 | cut -d'"' -f2)
                if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
                    echo "version=${BASE_VERSION}" >> $GITHUB_OUTPUT
                else
                    echo "version=${BASE_VERSION}-dev.${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
                fi

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

          - name: Login to DockerHub
            uses: docker/login-action@v3.3.0
            with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

          - name: Build and push Docker image
            uses: docker/build-push-action@v6.7.0
            with:
                context: .
                file: ./Dockerfile
                push: true
                tags: |
                    ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ steps.version.outputs.version }}
                    ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest

          - name: Discord notification
            if: always()
            env:
                DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
                DISCORD_EMBEDS: |
                    [{
                        "title": "배포 결과 알림",
                        "description": "GitHub Actions 워크플로우 실행 결과",
                        "color": "${{ job.status == 'success' && '5763719' || '15548997' }}",
                        "fields": [
                            {
                                "name": "저장소",
                                "value": "${{ github.repository }}",
                                "inline": true
                            },
                            {
                                "name": "브랜치",
                                "value": "`${{ github.ref_name }}`",
                                "inline": true
                            },
                            {
                                "name": "버전",
                                "value": "`${{ steps.version.outputs.version }}`",
                                "inline": true
                            },
                            {
                                "name": "커밋 메시지",
                                "value": "${{ github.event.head_commit.message }}"
                            },
                            {
                                "name": "상태",
                                "value": "${{ job.status == 'success' && '✅ 성공' || '❌ 실패' }}"
                            }
                        ],
                        "footer": {
                            "text": "GitHub Actions"
                        },
                        "timestamp": "${{ github.event.head_commit.timestamp }}"
                    }]
            uses: Ilshidur/action-discord@master